
body{
    background-image: url("background.gif");
    background-repeat: no-repeat;
    background-size:cover;
    block-size: auto;
}



.text {display:flex;
    align-items:flex-start;
    justify-content: center;
    height: 10vh;
    margin: 0;
    block-size: 100%;

}

.main-gif {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    margin: 0;
    block-size: 100%;

}

.main-button {
    display: flex;
    align-items:baseline;
    justify-content: center;
    height: 30vh;
    margin: 0;
    
    
}

.moving-button {
    position: relative;
    transition: transform 0.5s ease-in-out;
}
